<div class="container mx-auto my-3"><div class="card mx-auto" style="width: 18rem">
  <img class="card-img-top px-auto" src="{{ pokemon.imageUrl }}" alt="Card image cap" />
  <div class="card-body px-auto">
    <h5 class="card-title">{{ pokemon.name }}</h5>
    <ul>
      
    <li *ngFor ="let pokemonPowerModelInstance of pokemonPowerModel ">
{{ pokemonPowerModelInstance.id }}
{{ pokemonPowerModelInstance.name }}
    </li></ul>
   
    <button class="btn btn-primary" (click)="goBack()">Go back</button>
  </div>
</div>

</div>
